.bg-dominant {
    background-color: var(--color-dominant);
}
.bg-contrast {
    background-color: var(--color-contrast);
}
.bg-complement {
    background-color: var(--color-complement);
}
.bg-accent {
    background-color: var(--color-accent);
}

.text-dominant {
    color: var(--color-dominant);
}
.text-contrast {
    color: var(--color-contrast);
}
.text-complement {
    color: var(--color-complement);
}
.text-accent {
    color: var(--color-accent);
}

.elevated-low {
    --elevation: .4;
    box-shadow: calc(4.0px * var(--elevation))
                calc(8.0px * var(--elevation))
                calc(8.0px * var(--elevation))
                hsl(0deg 0% 0% / calc(0.25 + calc(0.25 * calc(1.0 - var(--elevation)))));

}

.elevated-medium {
    --elevation: .7;
    box-shadow: calc(4.0px * var(--elevation))
                calc(8.0px * var(--elevation))
                calc(8.0px * var(--elevation))
                hsl(0deg 0% 0% / calc(0.25 + calc(0.25 * calc(1.0 - var(--elevation)))));

}

.elevated-high {
    --elevation: 1.0;
    box-shadow: calc(4.0px * var(--elevation))
                calc(8.0px * var(--elevation))
                calc(8.0px * var(--elevation))
                hsl(0deg 0% 0% / calc(0.25 + calc(0.25 * calc(1.0 - var(--elevation)))));

}