<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mijn Website</title>
</head>
<body>
    <header>
        <h1>{{page.title | capitalize}}</h1>
        <h2>Welkom op het portfolio van <address class="author">Joske</address></h2>
    </header>

    {{content}}

    <footer>
        Created by SVB, based on the design of <a href="https://www.w3schools.com/w3css/tryw3css_templates_blog.htm">this</a> template from W3Schools
    </footer>
</body>
</html>