---
layout: default
---

    <div>

        <section id="about" class="elevated-medium bg-complement">
            <img src="{{github_repo}}/assets/images/me.jpg" alt="{{post.title}} image" class="banner full-bleed">

            {{content}}

        </section>
        
        <section id="projects" class="elevated-medium bg-complement">
            <h2 class="bg-dominant">Mijn Projecten</h2>
            <ul>

            {% for project in site.projects %}
        
            <li>
                <a href="{{ project.url }}">
                    <img src="{{project.banner}}" alt="{{project.title}} image" class="banner">
                    <h3>{{ project.title }}</h3>
                </a>
            </li>
        
            {% endfor %}
                    
            </ul>
        </section>

    </div>

    <section id="blogposts">

        {% for post in site.posts %}
    
        <a href="{{ post.url }}">
            <article class="elevated-high bg-complement">
                <img src="{{post.banner}}" alt="{{post.title}} image" class="full-bleed | banner">
                <h1>{{ post.title }}</h1>
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%-d-%m-'%y" }}</time>
                {{ post.excerpt }}
            </article>
        </a>
    
        {% endfor %}

    </section>